.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: navy;
    color: white;
    padding: 10px;
    z-index: 10;
}

.notice {
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    overflow: hidden;
    margin-top: 60px;
}

.hidden-box {
    visibility: hidden;
    opacity: scale(0.95);
    transition: visibility 0s linear 0.2s, opacity 0.5s ease, transform 0.5s ease;
    height: 100px;
    width: 100px;
    background: green;
}

.card:hover .hidden-box {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: 0s;
}

.sidebar {
    width: 100px;
    height: 100px;
    background: orange;
    float: left;
    margin-top: 20px;
}